.adminNav {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 18px;
  padding: 10px 0;
}

aside .adminNav{
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--spacing-lg);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .adminNav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}